body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
section {
    display: inline-block;
    height: 100vh;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.allcaps {
    text-transform: uppercase;
}
.vertical-center {
    align-items: center;
}
.justify-start {
    justify-content: flex-start;
}
.blue-bg {
    background: #2099f2;
}
.blue-bg:hover {
    background: #87c9f8;
}
.purple-bg {
    background: #8d73e5;
}
.purple-bg:hover {
    background: #b9a9ef;
}
.red-bg {
    background: #e03d22;
}
.red-bg:hover {
    background: #ec8a79;
}
.trans-bg {
    background: transparent;
    border: 1px solid #2d3848;
}
.image-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification {
    color: #fff;
    padding: 1px 8px;
    border-radius: 10px;
    cursor: pointer;
}
.title {
    color: #2d3840;
    font-weight: 600;
}
.header-wrapper .header-avatar,
.header-wrapper .header-title,
.header-wrapper .header-option {
    display: inline-block;
}
.header-title {
    padding: 10px 0;
}
.header-avatar {
    margin-right: 20px;
}
.header-avatar-relative {
    position: relative;
}
.header-avatar-status {
    position: absolute;
    bottom: 0;
    right: 0;
}
.header-title {
    vertical-align: top;
}
.header-title .is-active {
    color: #2099f2;
}
.header-title-role {
    color: #ccc;
    font-weight: 600;
}
.header-option {
    height: 50px;
}
#primary-menu {
    width: 100px;
    background: #1D2531;
    position: relative;
}
#primary-menu .trans-bg:hover,
.primary-menu-footer-icon:hover {
    background: #2f3c50;
}
.primary-menu-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 20px;
    cursor: pointer;
}
.primary-menu-footer {
    position: absolute;
    bottom: 0;
}
.primary-menu-footer-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#side-menu {
    width: 210px;
    background: #232C3D;
    color: #b7c0cd;
    padding: 0 20px;
    position: relative;
}
.side-menu-wrapper {
    border-top: 1px solid #2f3c50;
}
.side-menu-wrapper:first-child {
    border-top: none;
}
.side-menu-title {
    margin: 10px 0;
    cursor: pointer;
    font-weight: 600;
}
.side-menu-title:hover {
    color: #556d91;
}
.side-menu-content {
    margin-bottom: 10px;
    cursor: pointer;
}
.side-menu-content:hover,
.side-menu-content .is-active {
    color: #fff;
}
.side-menu-left-icon {
    width: 25px;
    height: 18px;
}
.side-menu-left-icon .image-container {
    justify-content: flex-start;
}
.side-menu-right-icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
}
.side-menu-footer {
    color: #fff;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}
.progress-bar-wrapper {
    position: relative;
    padding: 5px;
}
.progress-bar-bg,
.progress-bar-fill {
    position: absolute;
    bottom: 0;
    left: 0;
}
#message-box {
    width: calc(100% - 350px);
}
#top-menu {
    height: 50px;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.top-menu-title {
    font-size: 18px;
    line-height: 50px;
}
#top-menu .header-wrapper {
    width: 220px;
}