body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.flex-equal-height {
    display: flex;
    width: 100%;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.allcaps {
    text-transform: uppercase;
}
.vertical-center {
    align-items: center;
}
.justify-start {
    justify-content: flex-start;
}
.blue-bg {
    background: #2099f2;
}
.blue-bg:hover {
    background: #87c9f8;
}
.purple-bg {
    background: #8d73e5;
}
.purple-bg:hover {
    background: #b9a9ef;
}
.red-bg {
    background: #e03d22;
}
.red-bg:hover {
    background: #ec8a79;
}
.trans-bg {
    background: transparent;
    border: 1px solid #2d3848;
}
.green-bg {
    background: #1bb934;
}
.image-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification {
    color: #fff;
    padding: 1px 8px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 10px;
}
.icon-status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}
.title {
    color: #2d3840;
    font-weight: 600;
}
.action-btn-group--padding {
    padding-right: 20px;
}
.action-btn {
    background: linear-gradient(#fefefe, #f3f4f8);
    border: 1px solid #ced0da;
    border-radius: 3px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.action-btn:hover {
    background: #fff;
}
.input-wrapper {
    border: 1px solid #ccc;
    height: 16px;
    padding: 10px;
}
.input-wrapper:focus-within {
    outline: auto 5px -webkit-focus-ring-color;
}
.input-wrapper input {
    border: none;
    line-height: 16px;
    width: calc(100% - 20px);
}
.input-wrapper input:focus {
    outline: none;
}
.header-wrapper .header-avatar,
.header-wrapper .header-title,
.header-wrapper .header-option {
    display: inline-block;
}
.header-title {
    padding: 10px 0;
}
.header-avatar {
    margin-right: 20px;
}
.header-avatar-relative {
    position: relative;
}
.header-avatar-status {
    position: absolute;
    bottom: 0;
    right: 0;
}
.header-title {
    vertical-align: top;
}
.header-title .is-active {
    color: #2099f2;
}
.header-title-role {
    color: #ccc;
    font-weight: 600;
}
.header-option {
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    color: #556d91;
}
#primary-menu {
    width: 100px;
    background: #1D2531;
    position: relative;
}
#primary-menu .trans-bg:hover,
.primary-menu-footer-icon:hover {
    background: #556d91;
}
.primary-menu-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 20px;
    cursor: pointer;
}
.primary-menu-footer {
    position: absolute;
    bottom: 0;
}
.primary-menu-footer-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#side-menu {
    width: 210px;
    background: #232C3D;
    color: #b7c0cd;
    padding: 0 20px;
    position: relative;
}
.side-menu-wrapper {
    border-top: 1px solid #2f3c50;
}
.side-menu-wrapper:first-child {
    border-top: none;
}
.side-menu-title {
    margin: 10px 0;
    cursor: pointer;
    font-weight: 600;
}
.side-menu-title:hover .title {
    color: #556d91;
}
.side-menu-content {
    margin-bottom: 10px;
    cursor: pointer;
}
.side-menu-content:hover,
.side-menu-content .is-active {
    color: #fff;
}
.side-menu-content-name {
    line-height: 16px;
}
.side-menu-left-icon {
    width: 25px;
    height: 18px;
}
.side-menu-left-icon .image-container {
    justify-content: flex-start;
}
.side-menu-right-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
.side-menu-footer {
    color: #fff;
    vertical-align: bottom;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 210px;
}
.progress-bar-wrapper {
    position: relative;
    padding: 5px;
}
.progress-bar-bg,
.progress-bar-fill {
    position: absolute;
    bottom: 0;
    left: 0;
}
#message-box {
    width: calc(100% - 350px);
}
#top-menu {
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.top-menu-title {
    font-size: 18px;
    line-height: 50px;
}
#top-menu .header-wrapper {
    width: 220px;
}
#inbox {
    width: 306px;
}
.inbox-search {
    padding: 10px;
}
.inbox-wrapper {
    border-top: 1px solid #ccc;
    padding: 10px;
}
.inbox-wrapper.is-active {
    border-left: 4px solid #2099f2;
    padding-left: 6px;
}
.inbox-content,
.detail-msg-content {
    font-size: 10px;
}
#detail {
    width: calc(100% - 306px);
    border-left: 1px solid #ccc;
}
.detail-header-wrapper {
    height: 38px;
}
.detail-title,
.detail-pagination {
    line-height: 38px;
}
.detail-pagination {
    font-weight: 600;
    color: #556d91; 
    padding: 0 20px;
    border-left: 1px solid #ccc;
}
.detail-header-wrapper,
.detail-msg {
    padding: 10px;
}
.detail-header-wrapper {
    border-bottom: 1px solid #ccc;
}
.detail-msg-header {
    margin-bottom: 5px;
}
.detail-msg-header * {
    display: inline-block;
}
.detail-msg-time {
    font-weight: 600;
    color: #a0aab9;
}
.detail-msg-photo-wrapper {
    margin-top: 5px;
}
.detail-msg-photo-wrapper .image-container {
    padding-right: 10px;
}
.detail-msg-photo-add-wrapper {
    position: relative;
}
.detail-msg-add-icon {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 53px;
}
.detail-msg-add-icon .image-container {
    padding-right: 0px;
}
.divider {
    margin-top: 9px;
    border-top: 1px solid #a0aab9;
}
.divider.is-active {
    border-top: 1px solid #2099f2;
}
.divider-date {
    text-align: center;
    color: #a0aab9;
    height: 18px;
    margin-top: -9px;
}
.divider-date.is-active {
    color: #2099f2;
}
.divider-date-content {
    margin: 0 40%;
    background: #fff;
}
.detail-msg-sender {
    margin-top: 10px;
    padding: 10px;
}
.detail-msg-sender .input-wrapper {
    width: calc(100% - 36px);
}